<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <h1>root app component</h1>
  <p>Name: {{ name }}</p>
  <Textinput v-model="name"/>
</template>

<script>
import Textinput from './components/Textinput.vue'

// import ComponentA from './components/ComponentA.vue';
// import MainMenu from './components/MainMenu.vue';
export default {
  name: 'App',
  components: {
    // ComponentA,
    // MainMenu,
    Textinput,
  },
  data() {
    return {
      name: "",
    }
  },
  // data:()=> {
  //   return {
  //     name:'',
  //     isMenuOpen:false,
  //     username: 'mark',
  //     password:'12345678',
  //   }
  // },
  // methods: {
  //   closeMenu(data) {
  //     this.isMenuOpen = false ,
  //     this.name = data
  //   },
  // },
  // provide() {
  //   return {
  //     username: this.username,
  //     password: this.password
  //   }
  // },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
